* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.wrap {
    display: flex;
}

header {
    background: #EFEFEF;
}

header .container {
    padding: 17px 0 16px 0;

}

.header-wrap {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    display: inline-block;
    margin: 0 25px;

}




.first-item {
    margin-left: 0;
}

.menu-item a {
    font-size: 14px;
    font-weight: 400;
}

.logo-screen {
    padding: 20px 0 25px 0;
}

.logo-item {
    display: inline-block;

}

.logo-wrap {
    justify-content: center;
    align-items: center;

}



.beauty {
    margin-left: 20px;
}

.line {
    background: #EFEFEF;
    padding-bottom: 1px;
}

.second-menu .container {
    padding: 25px 0 30px 0;
    ;
}

.secondMenu-wrap {
    justify-content: center;
}


.secondMenu-item {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin: 0 20px;
}

.pink-chairScreen {
    background: #F13C6E;
}

.pink-chairContainer {
    background: url("../images/super-chair-pink.png") no-repeat;
    /* padding-bottom: 604px;*/
    width: 1920px;
    margin: 0 auto;


}

.pink-chairWrap {
    flex-direction: column;
    justify-content: space-around;

}

.pink-chairHeading {

    margin: 192px 0 50px 405px;

}

.pink-chairHeading h1 {
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.pink-chairtext {
    margin: 0 0 50px 405px;

}

.pink-chairtext p {
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.btn a {
    font-weight: 400;
    font-size: 14px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 12px 49px 13px 49px;
    border-radius: 25px;
    color: white;
}

.btn {
    margin: 0 0 193px 405px;
    border-radius: 25px;
}

.special-offers {
    background: #E5E5E5;
}

.special-offers .container {
    padding-top: 80px;


}

.special-offersScreen {
    background: #E5E5E5;
    padding-top: 38px;
}

.special-offersWrap {
    flex-direction: row;
    justify-content: space-between;
}

.special-offersHeading {
    font-weight: 700;
    font-size: 24px;
}

.special-offersBlock {
    background: white;
    width: 255px;
    padding: 25px 30px;

}

.special-offersImage {
    text-align: center;
}

.special-offersName {
    margin-top: 20px;
    text-align: center;

}


.special-offersName p {
    font-size: 14px;
    font-weight: 400;
}

.special-offersprice {
    margin-top: 20px;
    text-align: center;

}

.special-offersprice h2 {
    font-size: 21px;
    font-weight: 500;
}

.special-offersBtn {
    margin-top: 20px;
    text-align: center;
    border-radius: 25px;

}

.special-offersBtn a {
    background:
        #F13C6E;
    padding: 9px 40px;
    color: white;
    font-size: 14px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
}


.envelopeAndTruck {
    background: #E5E5E5;
    padding-top: 152.73px;
}





.envelope-block {
    background:
        #F13C6E;
    width: 540px;
    padding: 35px 45px 35px 40px;

}

.envelopeBtn {
    margin-top: 25px;
}

.envelopeBtn a {
    font-weight: 400;
    font-size: 14px;
    border-width: 2px;
    padding: 12px 49px 13px 49px;
    border-radius: 25px;
    color: #C4C4C4;
    background: #FFFFFF;
}

.envelopeHeading {
    margin-top: 0;
}


.envelopeHeading h3 {
    font-size: 18px;
    font-weight: 700;
    color: white;
}


.envelopeText {
    margin-top: 25px;

}


.envelopeText p {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.envelope-textContent {
    display: inline-block;
}

.envelope-image {
    display: inline-block;
    margin-left: 60px;
}


.truck-block {
    margin-left: 30px;
}

.truckBtn a {
    background: #F13C6E;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 9px 28px 9px 29px;
}

.truck-image {
    margin-left: 80px;
}

.impuls-section {
    padding-top: 100px;

    background: #E5E5E5;

}

.impuls-btn{
    display: inline-block;
    margin: 0;
}

.impuls-btn a {
    background: white;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 0.5px;
    padding: 35px 65px 35px 50px;
    display: inline-block;
}



.impuls-wrap{
    flex-direction: column;
}

.impuls-image{
    display: inline-block;
    padding: 35px 60px 35px 60px;
    background: #FFFFFF;
    border-style: solid;
    border-color: #EFEFEF;
    border-width: 1px;
}


.special-offersScreen2{
    padding-bottom: 80px;
}

.pop-wrap{
    flex-direction: column;
}

.grey-linePop{
    height: 1px;
    width: 255px;
    background: #EFEFEF;
    margin: 30px 0 0 0;

}

.pop-heading h3{
font-weight: 500;
font-size: 16px;
color: black;
}

.pop-text{
    margin-top: 25px;
}
.pop-text p{
    font-weight: 400;
    font-size: 12px;
    color: #828282;
    
}

.popular-categories{
    padding: 60px 0 60px 0;
}

.popular-categoriesBloc{
    display: inline-block;

}

.social-mediaLink{
display: inline-block;
margin-left: 20px;
}
.social-mediaLink a{
    border-style: solid;
    border-color: #F13C6E;
    border-radius: 50%;
   
    border-width: 0.5px;
}

.social-media{
    padding: 37px 0  53px 0;
    
}

.yt a{
padding: 15px 11.2px 12px 11px;
}

.vk a{
padding: 15px 8.96px 14px 8px;
}

.fb a{
padding: 18px 17.59px 10px 16.59px;
}

.ig a{
padding: 20px 12px 8px 11px;
}

 .yt{
    margin-left: 0;
}


.social-mediaText{
    margin-left: 500px;
}

.last-btn{
    margin-left: 34px;
}
.last-btn a{
    padding: 12px 26px 13px 27px;
    border-radius: 25px;
    color: black;
    background: #FFFFFF;
    border-color: #F13C6E;
    font-weight: 500;
    font-size: 16px;
    border-width: 2px;
    border-style: solid;

}

footer{
    background: #EFEFEF;
    padding: 25px 0 ;
}

.footer-text1 {
    display: inline-block;
}

.footer-text2{
    display: inline-block;
 margin-left: 340px;;
}
.footer-text1 p{

font-weight: 400;
    font-size: 12px;
}

.footer-text2 p{

font-weight: 400;
    font-size: 12px;
   
}