* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}



.container {
    max-width: 1016px;
    margin: auto;
}

.header-wrap {
    display: flex;
    margin-top: 79px;
    justify-content: flex-start;
}

.menu-item {
    display: inline-block;
    

}

.menu-item a {
    font-size: 16px;
    font-weight: 400;
    color: black;
   
  
}
.menu-item{
    margin-left: 42px;
}
.main-item a {
    color: #34547A;
    font-weight: 500;
    margin-left: 0;
}

.first-screen {
    margin-top: 160px;
}

.wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.main-heading {
    font-size: 48px;
    font-weight: 500px;
    line-height: 26.25px;
}

.first-text {
    margin-top: 60px;
    margin-bottom: 65px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26.25px;
}


.btn a {
    background: #34547A;
    color: white;
    font-size: 16px;
    font-weight: 400px;
    padding: 25px 41px;
    display: inline-block;
}

.second-screen {
    margin-top: 253px;
}

.wrap-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 500px;

}

.second-text {
    font-size: 16px;
    font-weight: 400px;
    line-height: 26.25px;
}

.projects-screen {
    margin-top: 100px;
  /*  margin-left: 200px;*/
    background: #34547A;
    padding: 100px 0px;
}

.wrap-three {
    display: flex;
    justify-content: space-between;
}

.projects-lilBlock {
    display: flex;
    flex-direction: row;
}

.projects-heading h3 {
    color: white;
    font-weight: 500px;
    font-size: 21px;
    line-height: 24.61px;
}

.projects-text p {
    color: white;
    font-size: 16px;
    line-height: 26.25px;
    font-weight: 400px;
}

.projects-textContent {
    margin-left: 23px;
}


.fourth-screen {
    margin-top: 100px;
}

.video-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-pic {
    margin-top: 57px;
}

.footer {
    background: #34547A;
    padding: 50px 0px;
    margin-top: 100px;
}

.footer-wrap {
    display: flex;
    flex-direction: column;

}

.footer-heading {
    font-size: 21px;
    line-height: 24.61px;
    font-weight: 500px;
    color: white;
}

.footer-text {
    margin-top: 20px;
    color: white;
    font-size: 13px;
    line-height: 21.33px;
    font-weight: 400px;
}


.play-btn{
    position: absolute;

}


.first-screen .btn a:hover{
    color: red;
}

.menu-item{
    position: relative;
}

.menu-item::before{
    content:'';
    position: absolute;
    height: 2.5px;
    width: 0;
    background: rgb(222, 33, 109);
    bottom: 0;
    left: 0;
    transition: .5s;
}
.menu-item:hover::before{
    width: 100%;
}

.menu-item.active::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: pink;
    bottom: 0;
    left: 0;
}
